<h1>Tiny App</h1>

<% if(username) { %>
  <form method="POST" action="/logout">
    <p>Logged in as: <%= username %></p>
    <button type="submit" class="btn btn-primary">Logout</button>
  </form><br>

<% } else { %>
  <form method="POST" action="/login">
    <label for="username">Username:</label><br>
    <input  type="text" name="username" placeholder="Enter your username" style="width: 300px; margin-bottom: 20px">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form><br>
<% } %>
