<!DOCTYPE html>
<html>
<head>
  <title>Tiny App - A URL shortening App</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- Google Fonts -->
 <link href="https://fonts.googleapis.com/css?family=Bungee|Righteous" rel="stylesheet">
  <!-- Main styles -->
 <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>

<div class="container">
  <nav class="navbar navbar-inverse">
    <!-- logo and tagline -->
    <div class="logo">
      <a href="/urls"><h1 class="display-3">Tiny App</h1></a>
      <p class="display-4">Shorten your URLs</p>
    </div>
    <!-- if username exists, show login info else show login, register link -->
    <% if(user){ %>
      <form class="form-inline" method="POST" action="/logout">
        <div class="name">
          <p class="login-description">Logged in as</p>
          <p class="login-name"><%= user.email %></p>
          <button type="submit" class="btn btn-primary logout">Logout</button>
        </div>
      </form>

    <% } else { %>
      <div class="user-login">
        <a href="/register" class="btn btn-primary">Register</a>
        <a href="/login" class="btn btn-primary">Login</a>
      </div>
    <% } %>
  </nav>


  <!-- static button for creating new TinyURL -->
  <a class="btn btn-success btn-lg create-new" href ="/urls/new"> Create a new TinyURL</a>

</div>
</body>
</html>