<form method="POST" action="/login">
  <label for="username">Please login</label>
  <input class="form-control" type="text" name="username" placeholder="Enter your username" style="width: 300px; margin-bottom: 20px">
  <button type="submit" class="btn btn-primary">Submit</button>
</form><br>