<form class="form-inline" action="/register" method="POST">
  Email:<br>
  <input type="email" name="email"><br>
  Password:<br>
  <input type="text" name="password"><br>
  Comment:<br>
  <input type="submit" value="Send">
</form>