<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Create a new TinyApp URL</title>

  </head>

  <body>
    <% include partials/_header %>
    <div class="container">
      <div class="form-container create-url shadow-sm">
        <form class="form-inline" action="/urls" method="POST">
            <h5>Enter a URL to shorten</h5>
            <input
              class="create-input"
              type="text" name="longURL"
              placeholder="http://"
              required
            >

            <button type="submit" class="btn btn-primary btn-lg">Create</button>


        </form>
      </div>
  </div>
  </body>
</html>