<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Create a new TinyApp URL</title>

    <style>
      .form-inline.create-url {
        background-color: #fff;
        border-radius: 5px;
        padding: 20px 20px;
      }
      .form-control.create-input {
        width: 500px;
        margin: 1em;
      }
    </style>

  </head>

  <body>
    <% include partials/_header %>
    <div class="container">
    <form class="form-inline create-url shadow-sm" action="/urls" method="POST">
      <div class="form-group mb-2">
        <label for="longURL">Enter a URL to shorten</label>
        <input class="form-control create-input" type="text" name="longURL" placeholder="http://">
        <button type="submit" class="btn btn-primary btn-lg">Create</button>
      </div>
    </form>
  </div>
  </body>
</html>