<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>TinyApp - A URL shortening App</title>

</head>
<body>
  <% include partials/_header %>

  <div class="container">
    <div class="form-container create-url shadow-sm">
      <h5>Your TinyURL:
          <a href = "<%= longURL %>"> <%= shortURL %></a> for
          <span class="long-url"><%= longURL %> </span></h5>
        <!-- POST FORM for updating longURLs -->
      <form class="form-inline" method="POST" action="/urls/<%= shortURL %>">
        <input
          class="update-input"
          type="text"
          name="longURL"
          placeholder="Enter new link to update your TinyURL";
        >
        <button type="submit" class="btn btn-primary btn-lg">Update</button>
        <a class="btn btn-primary btn-lg" href ="/urls">View All</a>
      </form>
    </div>
  </div>
</body>
</html>